<?xml version="1.0" encoding="utf-8"?>
<!-- Upload this file as /mail-center/web.config on the hosting server. -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" maxRequestLength="10240" executionTimeout="120" />
    <!-- Keep detailed errors enabled during the current deployment verification. -->
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false" />
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
  </system.webServer>
</configuration>
